body {
    font-family: Lato,sans-serif;
    font-size: 11pt;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-top: 10px;
    font-family: Lato,sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    word-wrap: break-word;
    font-size: 25pt;
}

h2 {
    display: inline;
    font-weight: 400;
    font-size: 20pt;
    color: #000;
}

h2:after {
    display: block;
    position: relative;
    border-bottom: 1px solid #CCC;
    width: 100%;
    content: ' ';
}

a {
    text-decoration: none;
    color: rgb(176,17,77);
}

#app {
    max-width: 1200px;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    display: inline-block;
}
#app-navigation {
    max-width: 250px;
    padding: 20px;
    float: left;
    background: rgb(241, 241, 241);
}

#app-navigation ul {
    padding-left: 0;
}

#app-navigation ul li {
    font-weight: bold;
    list-style-type: none;
    line-height: 15pt;
}

#app-navigation ul li ul {
    padding-left: 10px;
}
#app-navigation ul li ul li {
    font-weight: 300;
}

main {
    padding: 20px;
    max-width: 890px;
    float: left;
}

.summary-row {
    padding: 10px;
}

.functions-list .detail {
    padding: 10px;
}
.functions-list .signature {
    display: block;
    font-weight: bold;
}


pre[title]:before {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    content: attr(title);
    color: #DD0000;
    font-size: 1em;
    margin-top: -0.2em;
}

.summary {
    margin-top: 20px;
}

.detail-header .signature {
    font-size: 15pt;
    font-weight: 400;
    line-height: 20pt;
}

.detail-header .type-info {
    list-style-type: none;
    font-weight: 300;
    line-height: 15pt;
}

p.todo
{
     background-color: #f0f7fb;
     background-image: url(todo-icon.png);
     background-position: 10px center;
     background-repeat: no-repeat;
     border-left: solid 4px #3498db;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 60px;
}
